.navbar-container {
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);

  z-index: 1000;
}

.navbar-retainer {
  min-height: 72px;
  height: fit-content;
}

.navbar-content {
  padding: 16px 0;

  min-height: 72px;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;

  gap: 16px;

  & > div {
    display: flex;
    gap: 16px;
  }

  & .right-menu {
    margin-left: auto;
  }

  & .left-menu {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
