<div class="page">
  <nav class="navbar-container">
    <div class="global-container">
      <div class="navbar-content">
        <div class="logo">
          <a class="btn btn-primary logo" routerLink="/home">YateMate</a>
        </div>
        <div class="left-menu">
          <a class="btn btn-tertiary" routerLink="/embarcaciones">Embarcaciones</a>
        </div>
        <div class="right-menu">
          <a *ngIf="!authService.isUserAuthenticated()"
             class="btn btn-tertiary"
             routerLink="/iniciar-sesion">
            Iniciar sesión
          </a>
          <a *ngIf="!authService.isUserAuthenticated()"
             class="btn btn-primary" routerLink="/registrarse">Registrarse</a>
          <a *ngIf="authService.isUserAuthenticated()"
             class="btn btn-tertiary" (click)="logout()">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </nav>

  <main class="page-content">
    <section-header [titulo]="titulo" [subtitulo]="subtitulo"></section-header>
    <ng-content></ng-content>
  </main>
</div>
