<ng-container *ngIf="show">
  <div class="modal-container" #modalBackground>
    <div class="modal-content">
      <header class="modal-header">
        <h2 *ngIf="titulo">{{ titulo }}</h2>
        <button (click)="close()">
          <ng-container
            [ngTemplateOutlet]="closeIcon"
            (click)="show = false"
          ></ng-container>
        </button>
      </header>
      <hr *ngIf="titulo" class="divider" />
      <section class="modal-body">
        <ng-content></ng-content>
      </section>
    </div>
  </div>
</ng-container>

<ng-template #closeIcon>
  <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none">
    <path
      d="M5.293 5.293a1 1 0 0 1 1.414 0L12 10.586l5.293-5.293a1 1 0 1 1 1.414 1.414L13.414 12l5.293 5.293a1 1 0 0 1-1.414 1.414L12 13.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L10.586 12 5.293 6.707a1 1 0 0 1 0-1.414z"
      fill="#000000"
    />
  </svg>
</ng-template>
