<app-app-page titulo="Asignar amarra">
  <div class="global-container local-container formContainer">
    <div class="card h-100">
      <ng-container *ngIf="formularioActual === 'USUARIO'">
        <ng-container *ngTemplateOutlet="formularioSeleccionarUsuario">
        </ng-container>
      </ng-container>

      <ng-container *ngIf="formularioActual === 'EMBARCACION'">
        <ng-container *ngTemplateOutlet="formularioCargarEmbarcacion">
        </ng-container>
      </ng-container>

      <ng-container *ngIf="formularioActual === 'PROPIETARIO'">
        <ng-container *ngTemplateOutlet="formularioCargarPropietario">
        </ng-container>
      </ng-container>

      <ng-container *ngIf="formularioActual === 'AMARRA'">
        <ng-container *ngTemplateOutlet="formularioSeleccionarAmarra">
        </ng-container>
      </ng-container>

      <ng-container *ngIf="formularioActual === 'RESUMEN'">
        <ng-container *ngTemplateOutlet="resumen"></ng-container>
      </ng-container>

      <!-- Botón siguiente y anterior -->

      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <button
            class="btn btn-secondary"
            *ngIf="formularioActual !== formularios[0]; else botonCancelar"
            (click)="anteriorFormulario()"
          >
            Anterior
          </button>
          <ng-template #botonCancelar>
            <a class="btn btn-danger" [routerLink]="allPages.homepage.path">
              Cancelar
            </a>
          </ng-template>

          <button
            class="btn btn-primary ml-auto"
            *ngIf="formularioActual !== formularios[formularios.length - 1]"
            (click)="siguienteFormulario()"
          >
            Siguiente
          </button>

          <button
            type="submit"
            class="btn btn-success"
            *ngIf="formularioActual === formularios[formularios.length - 1]"
            [disabled]="false && asignarAmarraForm.invalid"
            (click)="asignarAmarra()"
          >
            Asignar amarra
          </button>
        </div>
      </div>
    </div>
  </div>
</app-app-page>

<ng-template #resumen>
  <div class="details card">
    <div class="card-header">
      <h3>Confirmar datos</h3>
    </div>

    <div class="card-body">
      <div class="details-section">
        <div class="details-section-title">
          <h4 class="card-title">Usuario seleccionado:</h4>
        </div>

        <div class="card-body details-col">
          <span>
            <b>Nombre de usuario: </b>
            {{ usuario?.value?.username }}
          </span>

          <span>
            <b>Nombres: </b>
            {{ usuario?.value?.nombres }}
          </span>

          <span>
            <b>Apellidos: </b>
            {{ usuario?.value?.apellidos }}
          </span>

          <span>
            <b>DNI: </b>
            {{ usuario?.value?.dni }}
          </span>
        </div>
      </div>

      <div class="details-section">
        <div class="details-section-title">
          <h4 class="card-title">Embarcación seleccionada:</h4>
        </div>

        <div class="card-body details-col">
          <span>
            <b>Nombre:</b>
            {{ embarcacion?.value?.nombre }}
          </span>

          <span>
            <b>Matrícula: </b>
            {{ embarcacion?.value?.matricula }}
          </span>

          <span>
            <b>Eslora: </b>
            {{ embarcacion?.value?.eslora }}
          </span>

          <span>
            <b>Manga: </b>
            {{ embarcacion?.value?.manga }}
          </span>

          <span>
            <b>Calado: </b>
            {{ embarcacion?.value?.calado }}
          </span>
        </div>
      </div>

      <div class="details-section">
        <div class="details-section-title">
          <h4 class="card-title">Propietario de la embarcación:</h4>
        </div>
        <div class="card-body details-col">
          <span>
            <b>Nombres: </b>
            {{ usuario?.value?.nombres }}
          </span>

          <span>
            <b>Apellidos: </b>
            {{ usuario?.value?.apellidos }}
          </span>

          <span>
            <b>DNI: </b>
            {{ usuario?.value?.dni }}
          </span>
        </div>
      </div>

      <div class="details-section">
        <div class="details-section-title">
          <h4 class="card-title">Amarra seleccionada:</h4>
        </div>
        <div class="card-body details-col">
          <span>
            <b>Puerto: </b>
            <b>{{ amarra?.value?.puerto?.nombre }}</b>
          </span>
          <span>
            <b>Nombre: </b>
            <b>{{ amarra?.value?.nombre }}</b>
          </span>
          <span>
            <b>Eslora: </b>
            <b>{{ amarra?.value?.eslora }}</b>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sinUsuarios>
  <div>
    <p class="alert alert-secondary">No hay usuarios.</p>
  </div>
</ng-template>

<ng-template #formularioSeleccionarUsuario>
  <div class="">
    <div class="card-header">
      <h3>
        Seleccionar usuario ({{ formularios.indexOf("USUARIO") + 1 }}/{{
          formularios.length
        }})
      </h3>
    </div>

    <div class="card-body p-3">
      <form
        [formGroup]="buscarUsuariosPorDniForm"
        (keyup)="buscarUsuariosPorDni()"
      >
        <div class="form-group mb-3">
          <label class="w-100">
            <div>
              <div class="mb-2">Buscar usuario por DNI</div>
              <input
                type="number"
                class="form-control w-100"
                formControlName="dni"
                placeholder="DNI del usuario"
              />
            </div>
          </label>
        </div>
      </form>

      <div class="options">
        <form [formGroup]="asignarAmarraForm">
          <ol class="p-0 m-0" *ngIf="usuarios.length; else sinUsuarios">
            <div>
              <li *ngFor="let _usuario of usuarios">
                <div>
                  <span>
                    <b>{{ _usuario.nombres }} {{ _usuario.apellidos }}</b>
                  </span>

                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="seleccionarUsuario(_usuario)"
                  >
                    Seleccionar
                  </button>
                </div>
              </li>
            </div>
          </ol>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #formularioCargarEmbarcacion>
  <div class="">
    <div class="card-header">
      <h3>
        Cargar embarcación ({{ formularios.indexOf("EMBARCACION") + 1 }}/{{
          formularios.length
        }})
      </h3>
    </div>

    <div class="card-body p-3">
      <app-crear-embarcacion-form
        (enviarFormulario)="cargarEmbarcacion($event)"
      >
        <!-- <form [formGroup]="asignarAmarraForm">
          <div class="form-check">
            <input
              id="esPropietario"
              formControlName="usuarioEsPropietario"
              type="checkbox"
              class="form-check-input"
              checked
            />
            <label class="form-check-label" for="esPropietario">
              ¿El usuario seleccionado es el propietario de la embarcación?
            </label>
          </div>
        </form> -->
      </app-crear-embarcacion-form>
    </div>
  </div>
</ng-template>

<ng-template #formularioCargarPropietario>
  <div class="">
    <div class="card-header">
      <h3>
        Cargar propietario ({{ formularios.indexOf("PROPIETARIO") + 1 }}/{{
          formularios.length
        }})
      </h3>
    </div>

    <div class="card-body p-3">
      <form class="container">
        <div class="form-group mb-3 row">
          <label class="col">
            <span>Nombres</span>
            <input
              type="text"
              class="form-control"
              placeholder="Nombres"
              [value]="propietario?.value?.nombres"
              disabled
            />
          </label>
          <label class="col">
            <span>Apellidos</span>
            <input
              type="text"
              class="form-control"
              placeholder="Apellidos"
              [value]="propietario?.value?.apellidos"
              disabled
            />
          </label>
        </div>
        <div class="form-group mb-3 row">
          <label class="col">
            <span>DNI</span>
            <input
              type="number"
              class="form-control"
              placeholder="DNI"
              [value]="propietario?.value?.dni"
              disabled
            />
          </label>

          <label class="col">
            <span>Fecha de nacimiento</span>
            <input
              type="date"
              class="form-control date-field"
              placeholder="01-01-2000"
              [value]="
                propietario?.value?.fechaNacimiento &&
                propietario?.value?.fechaNacimiento!.split('T')[0]
              "
              disabled
            />
          </label>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #formularioSeleccionarAmarra>
  <div class="">
    <div class="card-header">
      <h3>
        Seleccionar amarra ({{ formularios.indexOf("AMARRA") + 1 }}/{{
          formularios.length
        }})
      </h3>
    </div>

    <div class="card-body p-3">
      <div class="form-group mb-3">
        <label class="w-100">
          <select
            type="select"
            class="form-select w-100"
            placeholder="Puerto de la amarra"
            (change)="seleccionarPuerto($event)"
          >
            <option [value]=""></option>
            <option *ngFor="let puerto of puertos" [value]="puerto.id">
              {{ puerto.nombre }}
            </option>
          </select>
        </label>
      </div>

      <ol class="p-0 m-0" *ngIf="amarras.length; else sinAmarras">
        <div>
          <li *ngFor="let amarra of amarras">
            <div>
              <span>
                <b>{{ amarra.nombre }}</b>
              </span>

              <button
                class="btn btn-primary"
                type="button"
                (click)="seleccionarAmarra(amarra)"
              >
                Seleccionar
              </button>
            </div>
          </li>
        </div>
      </ol>
    </div>
  </div>
</ng-template>

<ng-template #sinAmarras>
  <div>
    <p class="alert alert-secondary">No hay amarras disponibles.</p>
  </div>
</ng-template>
