<app-app-page titulo="YateMate" subtitulo="Todas las páginas">
  <div class="global-container">
    <ul>
      <li><a routerLink="/puertos">Puertos</a></li>
    </ul>

    <ul>
      <li><a routerLink="/embarcaciones">Lista de embarcaciones</a></li>
      <li>
        <a routerLink="/publicaciones/embarcaciones"
          >Embarcaciones publicadas</a
        >
      </li>
    </ul>

    <ul>
      <li><a routerLink="/bienes">Lista de bienes</a></li>
      <li><a routerLink="/publicaciones">Bienes publicadas</a></li>
    </ul>
  </div>
</app-app-page>
