<app-app-page titulo="YateMate" subtitulo="Todas las páginas">
  <div class="global-container">
    <!-- Inicio -->
    <ul>
      <li>
        <a [routerLink]="allPages.homepage.path">
          {{ allPages.homepage.label }}
        </a>
      </li>
    </ul>

    <!-- Usuarios -->
    <ul>
      <li>
        <a [routerLink]="allPages.registrarse.path">
          {{ allPages.registrarse.label }}
        </a>
      </li>

      <li>
        <a [routerLink]="allPages.iniciarSesion.path">
          {{ allPages.iniciarSesion.label }}
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a [routerLink]="allPages.puertos.path">
          {{ allPages.puertos.label }}
        </a>
      </li>

      <li>
        <a [routerLink]="allPages.amarras.path">
          {{ allPages.amarras.label }}
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a [routerLink]="allPages.usuarios.path">
          {{ allPages.usuarios.label }}
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a [routerLink]="allPages.bienes.path">
          {{ allPages.bienes.label }}
        </a>
      </li>

      <li>
        <a [routerLink]="allPages.publicaciones.path">
          {{ allPages.publicaciones.label }}
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a [routerLink]="allPages.embarcaciones.path">
          {{ allPages.embarcaciones.label }}
        </a>
      </li>
      <li>
        <a [routerLink]="allPages.embarcacionesPublicadas.path">
          {{ allPages.embarcacionesPublicadas.label }}
        </a>
      </li>
    </ul>
  </div>
</app-app-page>
