<app-app-page
  titulo="Establecer contraseña"
  subtitulo="Estás cambiando la contraseña para test@test.com"
>
  <div class="global-container local-container">
    <form [formGroup]="contrasenaForm">
      <div class="form-group">
        <label for="contrasenaNueva">
          <span>Contraseña nueva</span>
          <input
            type="text"
            class="form-control"
            formControlName="contrasenaNueva"
            placeholder="Contraseña nueva"
            [class.mb-3]="contrasenaNueva?.valid || contrasenaNueva?.touched"
            [class.is-invalid]="
              contrasenaNueva?.invalid && contrasenaNueva?.touched
            "
          />
          <div
            class="invalid-feedback"
            [hidden]="contrasenaNueva?.valid || contrasenaNueva?.pristine"
          >
            {{ contrasenaNueva?.errors?.["required"] ? "Campo obligatorio" : "" }}
          </div>
          <div
            class="invalid-feedback"
            [hidden]="contrasenaNueva?.valid || contrasenaNueva?.pristine"
          >
            {{ contrasenaNueva?.errors?.["minlength"] ? "Debe tener al menos 8 caracteres" : "" }}
          </div>
        </label>
      </div>
      <div class="form-group">
        <label for="contrasenaNuevaRepetida">
          <span>Repetir contraseña</span>
          <input
            type="text"
            class="form-control"
            formControlName="contrasenaNuevaRepetida"
            placeholder="Repetir contraseña nueva"
            [class.mb-3]="
              contrasenaNuevaRepetida?.valid || contrasenaNuevaRepetida?.touched
            "
            [class.is-invalid]="
              contrasenaNuevaRepetida?.invalid &&
              contrasenaNuevaRepetida?.touched
            "
          />
          <div
            class="invalid-feedback"
            [hidden]="
              contrasenaNuevaRepetida?.valid ||
              contrasenaNuevaRepetida?.pristine
            "
          >
            {{ contrasenaNuevaRepetida?.errors?.["required"] ? "Campo obligatorio" : "" }}
          </div>
          <div
            class="invalid-feedback"
            [hidden]="
              contrasenaNuevaRepetida?.valid ||
              contrasenaNuevaRepetida?.pristine
            "
          >
            {{ contrasenaNuevaRepetida?.errors?.["contrasenasNoCoinciden"] ? "Las contraseñas no coinciden" : "" }}
          </div>
        </label>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        "
      >
        <button
          type="submit"
          class="btn btn-primary px-5 py-2 mt-3"
          [disabled]="contrasenaForm.invalid"
        >
          Registrarse
        </button>
      </div>
    </form>
  </div>
</app-app-page>
