/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


:root {
    --global-max-width: 1680px;
}

.global-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: var(--global-max-width);

    margin: 0 auto;
}

