<app-app-page>
  <div titulo="Puertos" subtitulo="Lista de puertos">
    <div class="global-container local-container section">
      <div>
        <button class="btn btn-primary" (click)="listarPuertos()">
          Ver puertos
        </button>
      </div>

      <div class="section">
        <ul *ngIf="puertos.length">
          <li *ngFor="let puerto of puertos" class="my-1">
            <span>
              <b>{{ puerto.nombre }}</b> ({{ puerto.id }})
            </span>

            <button
              class="btn btn-primary mx-2"
              (click)="actualizarPuerto(puerto)"
            >
              Modificar
            </button>

            <button class="btn btn-danger" (click)="eliminarPuerto(puerto)">
              Eliminar
            </button>
          </li>
        </ul>
      </div>

      <div class="section">
        <div class="d-flex">
          <label class="w-25">
            <input class="form-control" #nombrePuerto type="text" />
          </label>
          <div class="">
            <button
              class="btn btn-primary mx-2"
              (click)="crearPuerto(nombrePuerto.value)"
            >
              Crear Puerto
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-app-page>
