.local-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 960px;
}

.form-group {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 0;

  justify-content: center;

  label {
    max-width: 60%;
    width: 100%;

    @media screen and (max-width: 768px) {
      min-width: calc(100vw - 40px);
    }

    flex-grow: 1;
    height: fit-content;
  }
}
