<app-app-page titulo="Embarcaciones publicadas">

    <div class="global-container">
        <ul *ngIf="publicaciones.length">
            <li *ngFor="let publicacion of publicaciones; else sinPublicaciones">
                <app-card-de-publicacion [id]="publicacion.id" [titulo]="publicacion.titulo" [descripcion]="publicacion.descripcion" [(ngModel)]="publicacion.descripcion"></app-card-de-publicacion>
            </li>
        </ul>

        <div *ngIf="!publicaciones.length" #sinPublicaciones>
            <p>No hay publicaciones.</p>
        </div>
    </div>

</app-app-page>